/* global */

body {
  background: #EBDFA1;
}

.first {
  font-family: helvetica neue;
  font-weight: bold;
}

.first span {
  display: inline-block;
  position: relative;
}

.first span:nth-child(1) {
  color: #f5f1db;
  animation: slide_d;
  animation-duration: 1200ms;
}

.first span:nth-child(2) {
  color: #E57477;
  animation: slide_a;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.first span:nth-child(3) {
  color: #D6B81D;
  animation: slide_v;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.first span:nth-child(4) {
  color: #459EE1;
  animation: slide_e;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.last {
  font-family: georgia;
  font-style: italic;
}

/* mobile */


.name {
  text-align: center;
}

.first {
  font-size: 96px;
}

.first span:nth-child(1) {
  letter-spacing: -30px;
}

.first span:nth-child(2) {
  letter-spacing: -35px;
}

.first span:nth-child(3) {
  letter-spacing: -25px;
}

.first span:nth-child(4) {
  letter-spacing: -20px;
}

@keyframes slide_d {
  from {
    opacity: 0;
    color: #E5D374;
    left: 16px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide_a {
  from {
    opacity: 0;
    color: #E5D374;
    left: -60px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide_v {
  from {
    opacity: 0;
    color: #E5D374;
    left: -115px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -185px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
/* non-mobile */

@media (min-width: 500px) {
  .name { text-align: left; }
  
  .first {
    font-size: 200px;
  }
  
  .first span:nth-child(1) {
    letter-spacing: -60px;
  }

  .first span:nth-child(2) {
    letter-spacing: -75px;
  }

  .first span:nth-child(3) {
    letter-spacing: -50px;
  }

  .first span:nth-child(4) {
    letter-spacing: -30px;
  }

  /* non-mobile animations */

  @keyframes slide_a {
    from {
      opacity: 0;
      color: #E5D374;
      left: -120px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slide_v {
    from {
      opacity: 0;
      color: #E5D374;
      left: -230px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -430px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}
