/* global */

body {
  background: #5fd079;
}

.first {
  font-family: helvetica neue;
  font-weight: bold;
}

.first span {
  display: inline-block;
  position: relative;
}

.letter {
  color: #a13587;
 }

.letter-d {
  animation: slide_d;
  animation-duration: 1200ms;
}

.letter-a {
  animation: slide_a;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.letter-v {
  animation: slide_v;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.letter-e {
  animation: slide_e;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.last {
  font-family: georgia;
  font-style: italic;
}

/* mobile */


.name {
  text-align: center;
}

.first {
  font-size: 96px;
}

.letter-d {
  letter-spacing: -30px;
}

.letter-a {
  letter-spacing: -35px;
}

.letter-v {
  letter-spacing: -25px;
}

.letter-e {
  letter-spacing: -20px;
}

@keyframes slide_d {
  from {
    opacity: 0;
    color: #E5D374;
    left: 16px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide_a {
  from {
    opacity: 0;
    color: #E5D374;
    left: -60px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide_v {
  from {
    opacity: 0;
    color: #E5D374;
    left: -115px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -185px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  /* non-mobile */

@media (min-width: 500px) {
  .name { text-align: left; }
  
  .first {
    font-size: 200px;
  }
  
  .letter-d {
    letter-spacing: -60px;
  }

  .letter-a {
    letter-spacing: -75px;
  }

  .letter-v {
    letter-spacing: -50px;
  }

  .letter-e {
    letter-spacing: -30px;
  }

  /* non-mobile animations */

  @keyframes slide_a {
    from {
      opacity: 0;
      color: #E5D374;
      left: -120px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slide_v {
    from {
      opacity: 0;
      color: #E5D374;
      left: -230px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -430px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}


/* variations */

body.body-d {
  background: #4d5a20; 
}

.body-d .letter-d {
  color: white;
}

.body-d .letter-a {
  color: #b6a8e7;
}

.body-d .letter-v {
  color: #b6a8e7;
}

.body-d .letter-e {
  color: #b6a8e7;
}


body.body-a {
  background: #d89749;
}

.body-a .letter-d {
  color: #004dbc;
}

.body-a .letter-a {
  color: white;
}

.body-a .letter-v {
  color: #004dbc;
}

.body-a .letter-e {
  color: #004dbc;
}

