/* global */

body {
  background: #ffede9;
  font-family: 'Merriweather', georgia, serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 15px solid #fb4141;
  padding: 0;
  margin: 0;
}


h1,
h2 { margin: 0; }

.first span {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.letter {
  color: #8a8888;
 }

.letter-d {
  animation: slide_d;
  animation-duration: 1200ms;
}

.letter-a {
  animation: slide_a;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.letter-v {
  animation: slide_v;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

.letter-e {
  animation: slide_e;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(.79,.05,.5,.99);
}

/* mobile */


.name, .fun-fact {
  text-align: center;
}

.first {
  font-size: 96px;
}

.letter-d {
  letter-spacing: -30px;
}

.letter-a {
  letter-spacing: -35px;
}

.letter-v {
  letter-spacing: -25px;
}

.letter-e {
  letter-spacing: -20px;
}

@keyframes slide_d {
  from {
    opacity: 0;
    color: #E5D374;
    left: 16px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide_a {
  from {
    opacity: 0;
    color: #E5D374;
    left: -60px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide_v {
  from {
    opacity: 0;
    color: #E5D374;
    left: -115px;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -185px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  /* non-mobile */

@media (min-width: 1100px) {
  .container { padding-left: 20px; }

  .name { text-align: left; }
  
  .first {
    font-size: 200px;
  }
  
  .letter-d {
    letter-spacing: -60px;
  }

  .letter-a {
    letter-spacing: -75px;
  }

  .letter-v {
    letter-spacing: -50px;
  }

  .letter-e {
    letter-spacing: -30px;
  }

  /* non-mobile animations */

  @keyframes slide_a {
    from {
      opacity: 0;
      color: #E5D374;
      left: -120px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes slide_v {
    from {
      opacity: 0;
      color: #E5D374;
      left: -230px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }


  @keyframes slide_e {
    from {
      opacity: 0;
      color: #E5D374;
      left: -430px;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}


/* variations */

body.body-d {
  background: #8c9e4d; 
}

.body-d .letter-d {
  color: #f9ff31;
}

.body-d .letter-a {
  color: #f9ff31;
}

.body-d .letter-v {
  color: #f9ff31;
}

.body-d .letter-e {
  color: #f9ff31;
}


body.body-a {
  background: #d0ab03;
}

.body-a .letter-d {
  color: #004dbc;
}

.body-a .letter-a {
  color: #004dbc;
}

.body-a .letter-v {
  color: #004dbc;
}

.body-a .letter-e {
  color: #004dbc;
}

body.body-v {
  background: #423d3a;
}

.body-v .letter-d {
  color: #ef40df;
}

.body-v .letter-a {
  color: #ef40df;
}

.body-v .letter-v {
  color: #ef40df;
}

.body-v .letter-e {
  color: #ef40df;
}

body.body-e {
  background: white;
}

.body-e .letter-d {
  color: #4087ef;
}

.body-e .letter-a {
  color: #4087ef;
}

.body-e .letter-v {
  color: #4087ef;
}

.body-e .letter-e {
  color: #4087ef;
}

.fun-fact {
  color: #eee;
}

.fact-d {
  font-size: 30px;
}

@media (min-width: 1100px) {
  .fun-fact > div {
    text-align: left;
  }
  
  .fact-d {
    font-size: 100px;
  }
  
  .fact-a, .fact-v, .fact-e {
    font-size: 50px;
  }
}  

/* helpers */
.hidden {
    display: none !important;
}
