@import '../base/base';

#l-blog {
  background: $white-1;

  .nav {
    // background: $blue;
    z-index: 100;
    position: fixed;
    right: 0;
    width: 50%;
    text-align: right;
    padding: $space-2;
  }

  .nav-link {
    transition: all 200ms;
    color: $gray;
    padding: $space-2;
    margin: $space-2;
    text-decoration: none;
  }

  .nav-link:hover {
    background: $pudding;
  }

  header {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 5;
    z-index: 10;
    margin: 2em;

    @media (min-width: 600px) {
      h1 {
        background: $red;
        width: 200px;
        line-height: 100px;
        transform: translateY(-40px);
      }
    }
  }

  @media (min-width: 900px) {
    header {
      h1 {
        padding: 0.25em;
        line-height: 30px;
      }
    }
  }

  main {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 7;
    grid-row-end: span 10;
    background: white;
    // h2 {
    //   background: $orange;
    //   padding: 0.5em;
    //   transform: translateY(-40px);
    // }
    // p {
    //   transform: translateY(-30px);
    // }
  }

  @media (min-width: 700px) {
    main {
      // h2 {
      //   background: $orange;
      //   padding: 0.5em;
      //   transform: translateY(-80px);
      // }
      // p {
      //   transform: translateY(-30px);
      // }
    }
  }

  @media (min-width: 900px) {
    main {
      .wrapper {
        // background: $white-1;
        padding: 2em;
        margin: 2em;
        border-top: 20px solid $white-2;
        border-right: 20px solid $white-2;
        border-bottom: 20px solid $white-2;
        border-left: 20px solid $white-2;
        transform: translateY(-240px);
      }
      .main-title {
        // transform: translateY(70px);
        // line-height: 80px;
        padding: 0.25em;

        background: white;
        color: $gray;
        margin-bottom: 1.2em;
      }
      p {
        transform: translateY(-50px);
      }
    }
  }

  aside {
    background: white;
    z-index: 5;
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 10;
    padding-left: 1em;
    h2 {
      // background: $blue;
      // padding: 0.5em;
      // transform: translateY(-40px);
    }
  }

  @media (min-width: 900px) {
    aside {
      // padding: 2em;
      // background: $gray;
      .post {
        // background: red;
        border-bottom: 1px solid $gray;
      }
      .post-title {
        line-height: 50px;
      }
      h2 {
        // background: $blue;
        // transform: translateY(-80px);
      }
    }
  }
}
