@import '../base/base';

#landing {
  .skills {
    padding: 0;
    margin: 0;
  }
  .skill {
    list-style: none;
    display: inline-block;
    background: $color-1;
    border-radius: 18px;
    font-size: 16px;
    padding: $space-1 $space-3;
    margin: $space-2 $space-1;
  }
}
