@import '../base/base';
#post {
  .post-header {
    background: $color-2;
  }

  .post-title {
    padding: $space-4;
  }
  @media (min-width: $break-1) {
    .post-title {
      font-size: $size-12;
    }
  }

  @media (min-width: $break-2) {
    .post-title {
      font-size: $size-16;
    }
  }

  @media (min-width: $break-3) {
    .post-title {
      padding: $space-8 $space-4;
      font-size: $size-20;
    }
  }

  .post-body {
    padding: $space-8;
    margin: 0 auto;
  }

  .last-updated {
    padding-top: $space-4;
  }

  .code {
    background: $color-2;
    padding: $space-1;
    line-height: 18px;
    font-size: 12px;
  }

  .line-numbers {
    display: $display-code-line-numbers;
  }

  code {
    color: $blue;
    padding: $space-1 $space-2;
    margin: 0 $space-1;
    border-radius: 4px;
    background: $white-2;
  }

  @media (min-width: 800px) {
    .code {
      margin-top: $space-4;
      padding: $space-4 $space-8;
      font-size: 18px;
      line-height: 32px;
    }

    .post-body {
      width: 60%;
      margin: $space-8 auto;
    }
  }
}
