@import '../base/base';
#post {
  $display-code-line-numbers: none;

  // post header
  .post-header {
    background: $blog-post-header;
    margin-top: $space-4;
  }
  @media (min-width: $break-1) {
    .post-header {
      margin-top: 0;
    }
  }
  // post title
  .post-title {
    padding: $space-4;
  }
  @media (min-width: $break-1) {
    .post-title {
      font-size: $size-12;
    }
  }
  @media (min-width: $break-2) {
    .post-title {
      font-size: $size-16;
    }
  }
  @media (min-width: $break-3) {
    .post-title {
      padding: $space-8 $space-4;
      font-size: $size-20;
    }
  }
  // post body
  .post-body {
    padding: $space-8;
    margin: 0 auto;
  }
  @media (min-width: $break-2) {
    .post-body {
      width: 80%;
      margin: $space-8 auto;
    }
  }
  @media (min-width: $break-4) {
    .post-body {
      min-width: 32em;
      width: 55%;
    }
  }

  .last-updated {
    padding-top: $space-4;
  }

  // Syntax highlighting
  // Activating the nanoc syntax highlighter required nokogiri
  // which felt like overkill to avoid these style overrides.

  .line-numbers {
    display: $display-code-line-numbers;
  }
  code {
    color: $cool-1;
    padding: $space-1 $space-2;
    margin: 0 $space-1;
    border-radius: 4px;
    background: $code;
  }
  .code {
    background: $code;
    padding: $space-2 $space-4;
    font-size: 12px;
    line-height: 18px;
    margin-top: $space-4;
  }
  @media (min-width: $break-3) {
    .code {
      padding: $space-4 $space-8;
      font-size: 18px;
      line-height: 32px;
    }
  }
  .tags {
  }
}
