#!/usr/bin/env ruby

compile '/index.html' do
  filter :erb
  layout '/default.*'
end

compile '/**/*.html' do
  filter :erb
  layout '/show.*'
end

compile '/**/*.md' do
 filter :kramdown
 layout '/post.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  filter :rainpress
  write item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures
  "/#{y}/#{m}/#{slug.chomp('.md')}/index.html"
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
