@import '../base/base';

.article-with-body {
  margin-top: $space-10;
  padding: $space-10;
  background: $color-2;
  box-shadow: 0px 0px 4px #eee;
}

.headlines {
  overflow: auto;
  border-top: 3px solid $one;
  padding: $space-2;
  margin-top: $space-2;
  margin-bottom: $space-4;
  font-size: $size-4;
}

.org {
  float: left;
}
.date {
  float: right;
}

.org,
.date {
  font-weight: 400;
}
