@import '../base/base';

.right-nav {
  z-index: 100;
  padding: $space-2;
  overflow: auto;
}
.active,
.nav-link {
  float: left;
  transition: all 200ms;
  color: $link-color;
  padding: $space-2;
  margin: $space-2;
  text-decoration: none;
}
.nav-link:hover {
  background: $hover-color;
}
.active {
  background: $active-color;
}

@media (min-width: 800px) {
  .right-nav {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
  }
}
