@import '../base/base';

.site-nav {
  z-index: 100;
  overflow: auto;
}

@media (min-width: $break-4) {
  .site-nav {
    padding: $space-2;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
  }
}

.active,
.nav-link {
  float: left;
  transition: all 200ms;
  color: $links;
  padding: $space-1;
  margin: $space-1;
  text-decoration: none;
}

@media (min-width: $break-2) {
  .active,
  .nav-link {
    padding: $space-2;
    margin: $space-2;
  }
}

.nav-link:hover {
  background: $hover;
}

.active {
  background: $active;
}
