
<p class="p">My traditional education focused around communications and finance. Those experiences served me well as an entrepreneur. I applied my experiences into starting three successful (as I define success) companies and selling one of them.</p>

<% item[:formal_education].each do |entry| %>
  <%= render '/partials/card.*', data: entry %>
<% end %>

<h3 class="h3 italic-space v-space">continued education</h3>

<p class="p">I started coding by myself but knew I would benefit from taking some courses. Thankfully, that was around the time that the first coding bootcamps started.</p>

<% item[:continued_education].each do |entry| %>
  <%= render '/partials/card.*', data: entry %>
<% end %>

<h3 class="h3 italic-space v-space">Online education</h3>

<% item[:online_education].each do |entry| %>
  <%= render '/partials/card.*', data: entry %>
<% end %>

<%= render '/partials/break.*', data: item[:break] %>
