---
title: education
description: dave woodall's education
---

<% posts = [
  {
    title: 'M.S. Finance',
    org: 'University of Denver',
    date: '2011',
    summary: 'Feel free to contact me if you are in need of software help.'
  },
  {
    title: 'B.S. Communications',
    org: 'Liberty University',
    date: '2000'
  }
]

posts.each do |post| %>
  <%= render '/partials/card.*', data: post %>
<% end %>

<h3 class="h3 continued-education v-space">contiued education</h3>

<% posts = [
  {
    title: 'Sandi Metz Course',
    org: 'Durham, NC',
    date: '2016',
    summary: 'Feel free to contact me if you are in need of software help.'
  },
  {
    title: 'The original Code Academy',
    org: 'Chicago, IL',
    date: '2012',
    summary: 'Before Code Bootcamps were a thing, I attended the original code bootcamp. I was the third class and the last one before the movement exploded.'
  },
  {
    title: 'RoleModel Software Craftsmanship',
    org: 'Holly Springs, NC',
    date: '2012',
    summary: 'Before Code Bootcamps were a thing, I attended the original code bootcamp. I was the third class and the last one before the movement exploded.'
  }
]

posts.each do |post| %>
  <%= render '/partials/card.*', data: post %>
<% end %>

<%= render '/partials/break.*',
  b: {
    title: "But that's not all...",
    body: "I've included some of my favorite books and conferences over in the <a href='/about/'>about</a> page"
  }
%>
