---
title: fomer life
description: Before writing software I was a business owner, art director, and graphic designer. I have a Masters in Finance and a patent to validate at least one of my ideas.
---
<p><%= item[:description] %></p>

<%= render '/partials/articles/with_body.*',
  a: {
    title: 'Co-Founder &amp; CEO',
    org: "AMB3R custom t-shirts",
    date: 'April 2008 - July 2012',
    summary: "I started AMB3R with a vision to become the <i>Starbucks of t-shirts</i>. The company begain with $5,000 in capital and lots of ambition. Our first year we sold $380,000 in apparel. I soon realized that our business model needed custom software, which I couldn't afford. So I started teaching myself to code. I attended a 3 month bootcamp and realized that writing code is in itself a full-time occupation. I'm glad I made the switch. Who knows, maybe one day I'll go back to selling t-shirts. But right now, I am very happy writing code for a living!<br>You can see the first website I ever built. HTML &amp; CSS hand coded website. I'm pretty proud of it! <a href=''>visit old AMB3R site.</a>"
  }
%>


<%= render '/partials/articles/with_body.*',
  a: {
    title: "Art Director",
    org: "Ouray Sportswear",
    date: "January 2009 - October 2011",
    summary: "This was a full season of my life. I was attending Grad School, building AMB3R when I was recruited by a Privat Equity firm to join the new management team of Ouray. I hired, fired, and managed 9 graphic designers to release 1,200 graphics a year. We won small business of the year in 2011. I was an awarded a patent for a t-shirt concept I created."
  }
%>

<%= render '/partials/articles/with_body.*',
  a: {
    title: "Account Executive",
    org: "Futureshirts",
    date: "January 2005 - October 2008",
    summary: "Futureshirts was a small music merchandise company doing about $2M in annual revenues. I was responsible to aquire new business, service them with new products and designs. Oftentimes, it was easier for me to design my own graphics for their merchandise."
  }
%>

<%= render '/partials/articles/with_body.*',
  a: {
    title: "Graphic Designer, Freelance",
    org: "Dub Design Company",
    date: "January 2003 - January 2005",
    summary: "Dub, short for 'W'. My work with Church Clothes brought me business for other graphic design tasks. I designed t-shirts, brochures, websites, and postcards for anyone."
  }
%>

<%= render '/partials/articles/with_body.*',
  a: {
    title: "Sole Proprietor",
    org: "Church Clothes",
    date: "October 1996 - October 2006",
    summary: "I went to a religious college. As such, I started a tongue and cheeck clothing line titled 'church clothes'. Some of my favorite accomplishments were selling into 100 retailers, opening two Mall kiosks, and producing a 7 city promotional music tour by select retailers."
  }
%>
