@import '../base/base';
#l-show {
  main {
    padding: 1em;
  }

  @media (min-width: 800px) {
    main {
      padding: 0;
      width: 50%;
      min-width: 32em;
      margin: 2em auto 1em;
    }
  }

  .title {
    margin-bottom: $space-1;
  }

  .section-header,
  .continued-education {
    padding-left: $space-5;
  }

  @media (min-width: 800px) {
    .section-header,
    .continued-education {
      padding-left: 0;
    }
  }
}
