@import '../base/base';

#l-show {
  main {
    padding: 1em;
  }

  @media (min-width: 800px) {
    main {
      padding: 0;
      width: 50%;
      margin: 1em auto;
    }
  }
  .nav {
    z-index: 100;
    position: fixed;
    right: 0;
    // width: 100%;
    text-align: right;
    padding: $space-2;
  }
  .nav-link {
    transition: all 200ms;
    color: $gray;
    padding: $space-2;
    margin: $space-2;
    text-decoration: none;
  }
  .nav-link:hover {
    background: $pudding;
  }
}
