@import 'normalize';
@import 'measurements';
@import 'typography';
@import 'colors';
@import 'utilities';
@import 'markdown';

// TODO - move these somewhere.

.body {
  background: $body;
}

.tagline {
  color: $tagline;
}

b {
  color: $bold;
}

a {
  color: $links;
}

.blog-post-card {
  text-decoration: none;
}
