@import 'colors';
@import 'measurements';
@import 'normalize';
@import 'theme';
@import 'typography';
@import 'utilities';
@import 'markdown';

.body {
  background: $body;
}

.header {
  background: $header;
  padding: $space-6;
}

a {
  color: $links;
}

// responsive - move these somewhere

$break-1: 500px;
$break-2: 600px;
$break-3: 750px;
$break-4: 950px;
