// SITE COLORS
// It is helpful to see the colors, but they are not intended to be used directly.
// Consider styling with a THEME

$white-1: #f5f3e4;
$white-2: #fbfaf0;
$white-3: #fcfcfc;
$white-4: #f0f0f0;
$gray-1: #4b4b4b;
$gray-2: #7a7a7a;
$warm-1: #e36a4f;
$warm-2: #feb061;
$warm-3: #ffecaa;
$cool-1: #24d0f6;

// THEME HELPER (optional)

$one: $white-1;
$two: $white-2;
$three: $gray-1;
$four: $gray-2;
$five: $warm-1;
$six: $warm-3;
