$size-0: 0;
$size-1: 0.25em;
$size-2: 0.5em;
$size-3: 0.75em;
$size-4: 1em;
$size-5: 1.25em;
$size-6: 1.5em;
$size-7: 1.75em;
$size-8: 2em;
$size-9: 2.25em;
$size-10: 2.5em;
$size-11: 2.75em;
$size-12: 3em;
$size-13: 3.25em;
$size-14: 3.5em;
$size-15: 3.75em;
$size-16: 4em;
$size-17: 4.25;
$size-18: 4.5;
$size-19: 4.75;
$size-20: 5em;

$space-root: 1em;
$space-0: 0;
$space-1: $space-root * 0.25;
$space-2: $space-root * 0.5;
$space-3: $space-root * 0.75;
$space-4: $space-root * 1;
$space-5: $space-root * 1.25;
$space-6: $space-root * 1.5;
$space-7: $space-root * 1.75;
$space-8: $space-root * 2;
$space-9: $space-root * 2.25;
$space-10: $space-root * 2.5;
$space-11: $space-root * 2.75;
$space-12: $space-root * 3;
$space-13: $space-root * 3.25;
$space-14: $space-root * 3.5;
$space-15: $space-root * 3.75;
$space-16: $space-root * 4;
$space-17: $space-root * 4.25;
$space-18: $space-root * 4.5;
$space-19: $space-root * 4.75;
$space-20: $space-root * 5;
$space-21: $space-root * 5.25;
$space-22: $space-root * 5.5;
$space-23: $space-root * 5.75;
$space-24: $space-root * 6;

.space-1 {
  padding: $space-2 $space-2 0;
}

@media (min-width: 600px) {
  .space-1 {
    padding: $space-5 $space-5 0;
  }
}

@media (min-width: 900px) {
  .space-1 {
    padding: $space-8 $space-8 0;
  }
}
