@import 'colors';
@import 'measurements';

// TODO add fonts
// add google fonts

$one: $white-1;
$two: $white-2;
$three: $gray;

$body: $one;
$header: $two;
$card: $two;

$text: $three;

// links
$links: $three;
$active: $orange;
$hover: $pudding;

// blog post: none  block
$display-code-line-numbers: none;
