@import '../site_theme';

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $text;
  font-family: $header-font;
}

.li,
.p,
p,
a,
.active {
  color: $text;
  font-family: $body-font;
}

.active {
  color: $white-2;
}

h1,
.h1 {
  font-size: $size-6;
}

h2,
.h2 {
  font-size: $size-5;
}

h3,
.h3 {
  font-size: $size-4;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: $size-3;
}

li,
p,
.li,
.p {
  font-size: $size-3;
  line-height: 22px;
}

@media (min-width: $break-1) {
  .h1,
  h1 {
    font-size: $size-10 * 2;
  }
  .h2,
  h2 {
    font-size: $size-6;
  }
  .h3,
  h3 {
    font-size: $size-5;
  }
  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6 {
    font-size: $size-4;
  }
  .p,
  p {
    font-size: $size-4;
    line-height: 25px;
  }
  .li,
  li {
    font-size: $size-4;
  }
}

@media (min-width: $break-3) {
  .h1,
  h1 {
    font-size: $size-10 * 3;
  }
  .h2,
  h2 {
    font-size: $size-8 * 1.5;
  }
  .h3,
  h3 {
    font-size: $size-6;
  }
  .h4,
  h4 {
    font-size: $size-5;
  }
  .h5,
  h5 {
    font-size: $size-5;
  }
  .h6,
  h6 {
    font-size: $size-5;
  }
  .p,
  p {
    font-size: $size-4;
    line-height: 28px;
  }
  .li,
  li {
    font-size: $size-4;
    line-height: 35px;
  }
}
