@import 'measurements';
@import 'colors';

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  color: $gray;
  margin: 0;
  padding: 0;
  font-family: helvetica neue, helvetica;
}

h1,
.h1 {
  font-size: $size-6;
}

h2,
.h2 {
  font-size: $size-5;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-size: $size-4;
}

p,
.p {
  font-size: $size-3;
}

@media (min-width: 600px) {
  .h1,
  h1 {
    font-size: $size-10 * 2;
  }
  .h2,
  h2 {
    font-size: $size-6;
  }
  .h3,
  h3 {
    font-size: $size-5;
  }
  .h4,
  h4 {
    font-size: $size-4;
  }
  .h5,
  h5 {
    font-size: $size-4;
  }
  .h6,
  h6 {
    font-size: $size-4;
  }
  .p,
  p {
    font-size: $size-4;
  }
}

@media (min-width: 900px) {
  .h1,
  h1 {
    font-size: $size-10 * 3;
  }
  .h2,
  h2 {
    font-size: $size-8 * 1.5;
  }
  .h3,
  h3 {
    font-size: $size-6;
  }
  .h4,
  h4 {
    font-size: $size-6;
  }
  .h5,
  h5 {
    font-size: $size-6;
  }
  .h6,
  h6 {
    font-size: $size-6;
  }
  .p,
  p {
    font-size: $size-5;
    line-height: 40px;
  }
}
