@import 'measurements';

.v-space {
  margin-top: 1em;
}

.padding-1 {
  padding: $space-2 $space-2 0;
}

@media (min-width: 600px) {
  .padding-1 {
    padding: $space-5 $space-5 0;
  }
}

@media (min-width: 900px) {
  .padding-1 {
    padding: $space-8 $space-8 0;
  }
}
