@import '../site_theme';
@import 'colors';
@import 'measurements';

// My style junk drawer.
// TODO - keep it cleaned up!

.body {
  background: $body;
}

.tagline {
  color: $tagline;
}

.primary {
  background: $primary;
  &:hover {
    background: $hover;
  }
}

a,
.a {
  transition: all 300ms;
  color: $links;
  &:hover {
    background: $hover;
  }
}

b {
  color: $bold;
}

.blog-post-card {
  background: red !important;
  text-decoration: none;
  display: block;
}

.v-space {
  margin-top: 1em;
}

.italic-space {
  padding-top: $space-4;
  font-style: italic;
}

.padding-1 {
  padding: $space-2 $space-2 0;
}
@media (min-width: $break-2) {
  .padding-1 {
    padding: $space-5 $space-5 0;
  }
}
@media (min-width: $break-4) {
  .padding-1 {
    padding: $space-8 $space-8 0;
  }
}

.space-1 {
  padding: $space-2 $space-2 0;
}

@media (min-width: $break-2) {
  .space-1 {
    padding: $space-5 $space-5 0;
  }
}

@media (min-width: $break-4) {
  .space-1 {
    padding: $space-8 $space-8 0;
  }
}
