<article class="card">
  <header>
    <h2 class='h3'>
      <%= data[:title] %>
    </h2>
    <% if (!data[:org].nil? || !data[:date].nil? || !data[:tags].nil?)  %>
      <div class='meta'>
        <div class="tags">
          <%= data[:tags] %>
        </div>
        <h4 class="org h4">
          <%= data[:org] %>
        </h4>
        <h4 class="date h4">
          <%= data[:date] %>
        </h4>
      </div>
    <% end %>
  </header>
  <% if (!data[:summary].nil? || !data[:list].nil?)  %>
    <section class='card-summary'>
      <% if !data[:summary].nil? %>
        <p class='p'>
          <%= data[:summary] %>
        </p>
      <% end %>
      <% if !data[:list].nil? %>
        <ul>
          <% data[:list].each do |item| %>
            <% if !item[:url].nil? %>
              <li class="li">
                <a href="<%= item[:url] %>" target="_blank">
                  <%= item[:name] %>
                </a>
              </li>
            <% else %>
              <li class="li">
                <%= item[:name] %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  <% end %>
</article>
