<% render '/default.*' do %>
  <%= render '/partials/header.*' %>
  <section id="post">
    <nav class='nav-site'>
      <%= render '/partials/nav.*' %>
    </nav>
    <header class='post-header'>
      <h1 class='post-title title'>
        <%= item[:title] %>
      </h1>
    </header>
    <article class='post-body' id="markdown">
      <div class="tags">
         <% if item[:tags] %>
          <b>tags</b> <% item[:tags].each do |tag| %>
            <%= tag_link tag, class: 'tag primary' %>
          <% end  %>
        <% end  %>
      </div>
      <div class='p last-updated'>
        <p class='p'>
          Last Updated: <%= get_pretty_date(item) %>
        </p>
      </div>
      <%= yield %>
      <% if config[:use_disqus_for_comments] %>
      <div class='comments'>
        <div id="disqus_thread"></div>
      </div>
      <% end %>
    </article>
  </section>
  <%# if config[:use_disqus_for_comments] %>
    <%#= render '/partials/disqus.*' %>
  <%# end %>
<% end %>
