<% render '/default.*' do %>
  <%= render '/partials/header.*' %>
  <section id="post">
    <nav class='nav-site'>
      <%= render '/partials/nav.*' %>
    </nav>
    <header class='post-header'>
      <h1 class='post-title title'>
        <%= item[:title] %>
      </h1>
    </header>
    <article class='post-body' id="markdown">
      <div class='p last-updated'>
        Last Updated: <%= get_pretty_date(item) %>
      </div>
      <%= yield %>
      <% if config[:use_disqus_for_comments] %>
      <div class='comments'>
        <div id="disqus_thread"></div>
      </div>
      <% end %>
    </article>
  </section>
  <% if config[:use_disqus_for_comments] %>
    <%= render '/partials/disqus.*' %>
  <% end %>
<% end %>
