@import 'base/measurements';
@import 'base/colors';

// LAYOUT THEME
$body: $one;
$header: $two;
$blog-post-header: $two;
$footer: $header;

// CARD THEME
$card-body: $two;
$card-text: $three;
$break: $four;

// LINK THEME
$links: $three;
$active: $five;
$hover: $six;

// TEXT THEME FONT
// Add fonts to nanoc.yml
$backup-header-font: sans-serif;
$header-font: 'Barlow Condensed', $backup-header-font;

$backup-body-font: sans-serif;
$body-font: 'Roboto', $backup-body-font;

// TEXT THEME COLORS
$title: $five;
$tagline: $three;
$text: $three;
$bold: $three;
$code: $two;
$primary: $warm-1;

// SKILL PILL
$skill: $header;

.highlight-color {
  color: $warm-2;
}
